.site-header {
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.header-img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-container {
    position: absolute;
    top: 320px;
    left: 64px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    color: $font-color;
    pointer-events: none;
    z-index: 2;
}

.header-container h1 {
    font-size: 3.5rem;
    margin: 0 0 8px 0;
    pointer-events: auto;
    color: $font-color;
}

.header-container p {
    font-size: 2.5rem;
    margin: 0;
    pointer-events: auto;
}

.site-main {
    position: relative;
    z-index: 3;
    background-color: $background-color;
    margin-top: -50px;
    padding-top: 50px;
}